{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Test Wikicampers</h1>
    <hr class="my-4">
    <p>Ajoutez des véhicules à notre service et leurs disponibilités. Vous pouvez ensuite trier les véhicules disponibles en fonctions des jours de location voulus.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="vehicule" role="button">Liste des véhicules</a>
      <a class="btn btn-primary btn-lg" href="vehicule/nouveau" role="button">Ajouter un véhicule</a>
      <a class="btn btn-primary btn-lg" href="disponibilite" role="button">disponibilités</a>
      <a class="btn btn-primary btn-lg" href="disponibilite/nouveau" role="button">Ajouter une disponibilité</a>
      <a class="btn btn-primary btn-lg" href="disponibilite/recherche" role="button">rechercher une disponibilité</a>
    </p>
  </div>
</div>
{% endblock %}